openapi: 3.0.3
info:
  title: BYOD Server API
  version: 0.3.0
servers:
  - url: https://exam.cs.ac.cn
security:
  - adminToken: []
paths:
  /admin/api/exams:
    get:
      operationId: listExams
      responses:
        '200':
          description: Exams
          content:
            application/json:
              schema: {type: array, items: {$ref: '#/components/schemas/Exam'}}
    post:
      operationId: createExam
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ExamInput'}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Exam'}
  /admin/api/exams/{examId}:
    parameters: [{name: examId, in: path, required: true, schema: {type: string}}]
    get:
      operationId: getExam
      responses:
        '200': {description: Exam, content: {application/json: {schema: {$ref: '#/components/schemas/Exam'}}}}
    patch:
      operationId: updateExam
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ExamInput'}
      responses:
        '200': {description: Updated, content: {application/json: {schema: {$ref: '#/components/schemas/Exam'}}}}
    delete:
      operationId: deleteExam
      responses: {'204': {description: Deleted}}
  /admin/api/exams/{examId}/students:
    parameters: [{name: examId, in: path, required: true, schema: {type: string}}]
    get:
      operationId: listExamStudents
      responses:
        '200': {description: Students, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Student'}}}}}
  /admin/api/exams/{examId}/students/{subject}:
    parameters:
      - {name: examId, in: path, required: true, schema: {type: string}}
      - {name: subject, in: path, required: true, schema: {type: string}}
    put:
      operationId: addExamStudent
      responses: {'204': {description: Added}}
    delete:
      operationId: removeExamStudent
      responses: {'204': {description: Removed}}
  /admin/api/exams/{examId}/sessions:
    parameters: [{name: examId, in: path, required: true, schema: {type: string}}]
    get:
      operationId: listExamSessions
      responses:
        '200': {description: Sessions, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Session'}}}}}
  /admin/api/sessions/{sessionId}/events:
    parameters: [{name: sessionId, in: path, required: true, schema: {type: string}}]
    get:
      operationId: listSessionEvents
      responses:
        '200': {description: Events, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Event'}}}}}
  /openapi.yaml:
    get:
      security: []
      operationId: getOpenAPI
      responses:
        '200': {description: OpenAPI document, content: {application/yaml: {schema: {type: string}}}}
components:
  securitySchemes:
    adminToken: {type: apiKey, in: header, name: X-Admin-Token}
  schemas:
    Exam:
      type: object
      required: [id, base_url, state]
      properties:
        id: {type: string}
        base_url: {type: string, format: uri}
        state: {type: string, enum: [draft, scheduled, active, ended]}
        starts_at: {type: string, format: date-time, nullable: true}
        ends_at: {type: string, format: date-time, nullable: true}
    ExamInput:
      type: object
      required: [id, base_url]
      properties:
        id: {type: string}
        base_url: {type: string, format: uri}
        state: {type: string, enum: [draft, scheduled, active, ended]}
        starts_at: {type: string, format: date-time, nullable: true}
        ends_at: {type: string, format: date-time, nullable: true}
    Student:
      type: object
      required: [subject, enabled]
      properties:
        subject: {type: string}
        display_name: {type: string}
        enabled: {type: boolean}
    Session:
      type: object
      required: [id, exam_id, subject, state, created_at]
      properties:
        id: {type: string}
        exam_id: {type: string}
        subject: {type: string}
        state: {type: string}
        created_at: {type: string, format: date-time}
        last_seen_at: {type: string, format: date-time}
        violation_count: {type: integer}
    Event:
      type: object
      required: [id, type, severity, occurred_at]
      properties:
        id: {type: string}
        type: {type: string}
        severity: {type: string}
        details: {type: string}
        occurred_at: {type: string, format: date-time}
